@page "/"

<PageTitle>Index</PageTitle>

<button class="btn btn-primary" @onclick="StartSpeedAsync">Start</button>
<br />

@if (_isBusy)
{
	<h4>Loading....</h4>
}
else
{
	<ul>
		<li>@_records?.Length records found</li>
		<li>@_currentTime.ToString(@"mm\:ss\.fff")</li>
	</ul>

	<div class="d-flex justify-content-between align-items-end" style="width:1920px;margin:auto;padding-right:20px;padding-left:20px;">

		<LapCounter />

		<div style="display:flex;flex-direction: column">
			<div class="d-flex justify-content-between align-items-center mb-4 speedometer" style="font-family:Rugen;font-style:italic">
				<h2 style="width:100px; color:white;padding-left: 10px;margin-bottom:0">@_currentSpeed</h2><h5 style="color:black;padding-right:10px; font-size:15px;margin-bottom:0">KM/H</h5>
			</div>
			@*<Speedometer Speed="@_currentSpeed" />*@
		</div>
	</div>

	
}

<br />
<br />
<br />
<br />
<br />
<br />


<style>
	.speedometer {
		border-bottom-right-radius: 30px;
		border-top-left-radius: 30px;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
		border: 2px solid rgba(10, 10, 10);
		background-color: #616161;
		overflow: hidden;
		width: 156px;
		height: 50px;
	}
</style>