
@keyframes flickeringAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.flickering {
    animation: flickeringAnimation 0.4s infinite;
}